

  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
         <!--JavaScript at end of body for optimized loading-->
         <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <link rel="stylesheet" href="/static/CSS/yange.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>My portifoilio</title>
    </head>

    <body>   

   <!--     Nav bar section-->

      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Hassan Yange</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'home_return' %}">Home</a></li>
            <li><a href="{% url 'about_return' %}">About me</a></li>
            <li><a href="{% url 'projects_return' %}">Projects</a></li>
            <li><a href="{% url 'testimon_return' %} ">Testimonials</a></li>
            <li><a href="{% url 'contact_return' %}">Contact</a></li>
          </ul>
        </div>
      </nav>
    
      <ul class="sidenav" id="mobile-demo">
        <li><a href="{% url 'home_return' %}">Home</a></li>
        <li><a href="{% url 'about_return' %}">About me</a></li>
        <li><a href="{% url 'projects_return' %}">Projects</a></li>
        <li><a href="{% url 'testimon_return' %} ">Testimonials</a></li>
        <li><a href="{% url 'contact_return' %}">Contact</a></li>
      </ul>
               <!--  end   Nav bar section-->    




   


               {% block content %}

               {% endblock content %}
               







                     <!-- footer start -->
      <footer class="footer container bg-brown darken-3">
        <div class="footer_top ">
            <div class="container bg-brown darken-3">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="lets_talk">
                            <h4>Do you have any Project? <a href="{% url 'contact_return' %}">Let’s Talk</a> </h4>
                            <p>Sed eleifend sed nibh nec fringilla. Donec eu cursus sem, vitae tristique ante. Cras pretium rutrum egestas. Integer ultrices libero sed justo vehicula, eget tincidunt tortor tempus.</p>
                        </div>
                    </div>
                </div>
           
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <i class="fa fa-heart-o" aria-hidden="true"></i> </a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->
  
  
  
  
  
  
  
  
  
  
  
  
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                 <!--JavaScript at end of body for optimized loading-->
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
                 <script>
                                        
                      
                 </script>
      </body>
    </html>