   
             {% extends "base.html" %}
               {% block content %}
               <section id="about me" class="  brown ">

               <!-- slider_area_start -->
    <div class="slider_area">
      <div class="single_slider  d-flex align-items-center slider_bg_1">
          <div class="container">
              <div class="row align-items-center position-relative">
                  <div class="col s12 l5">
                      <div class="slider_text">
                          <h3>Hi there, I am Hassan <br>
                              <span>Web developer</span></h3>
                              <a class="waves-effect waves-light btn-small" href="{% url 'projects_return'  %} ">view my projects</a>
                      </div>
                  </div>


                  <div class="col  s12 l5 push-l1 ">
                    
                      <img class="circle image" src="/static/IMG/profile 1.jpeg" >
                     
                  
                </div>





                  
              </div>
          </div>
      </div>
  </div>
 
  <!-- slider_area_end -->
  <div class="container mb-6">
    <h4 >My services</h4>
    
    <div class="row">
      <div class="col s12 l5 offset-l1 border border-2 pull-l1 grey" >
        <div class="single_service text-center ">
          <div class="icon">
              
              
          <img src="/static/IMG/icons.png" alt="">
          </div>
          <h5>
                  Web  Design
          </h5>
          <p>Designing engaging and responsive landing pages</p>
      </div>
      </div>
      <div class="col s12 l5 offset-l1 border border-2 pull-l1 grey ">
        <div class="single_service text-center">
          <div class="icon">
              
                 <img src="/static/IMG/Icons.png" alt="">
          </div>
          <h5>
                  Web  Developer
          </h5>
          <p>Writing efficient code,
            Creating websites/a website using standard HTML/CSS practices</p>
      </div>
      </div>
      <div class="col s12 l5 offset-l1 border border-2 pull-l1 grey " >
        <div class="single_service text-center">
          <div class="icon">
              
                 <img src="/static/IMG/icon.png" alt="">
          </div>
          <h5>
                  Web  hosting
          </h5>
          <p> To maintaining stable and secure storage spaces of website</p>
      </div>
      </div>
      </div>
    </div>
  </div>
   

   </section>
   
   
   
               {% endblock content %}



