{% extends "base.html" %}
{% block content %}

<section id="projects" class="container">
    <div class="container">
          <h1>hello, there is no any project yet for this time please<br> vist again next time</h1>
         <div class="row">
           {% for post in File %}
           <div class="col s12 l7">
             <div class="card">
               <div class="card-image">
                 <img src="{{post.imageupload.url }}">
                 <span class="card-title">{{post.Title_of_card}}</span>
               </div>
               <div class="card-content">
                 <p>      {{post.commment}} </p>
               </div>
               <div class="card-action">
                 <a href="{{post.heroku_link}}">Heroku link</a>
                 <a href="{{post.github_link}}">Github link</a>
               </div>
             </div>
           </div>
           {% endfor %}
         </div>

      </div>


      
       
</section>
<!--       end of project section-->
{% endblock content %}