{% extends "base.html" %}
{% block content %}

{% endblock content %}

<section id="projects" class="container">
    <div class="container">
          
         <div class="row">
           {% for post in File %}
           <div class="col s12 l7">
             <div class="card">
               <div class="card-image">
                 <img src="{{post.imageupload }}">
                 <span class="card-title">{{post.Title_of_card}}</span>
               </div>
               <div class="card-content">
                 <p>      {{post.commment}} </p>
               </div>
               <div class="card-action">
                 <a href="{{post. link_of_the_card }}">Heroku link</a>
                 <a href="https://github.com/hassanyange/myproject">Github link</a>
               </div>
             </div>
           </div>
           {% endfor %}
         </div>

      </div>
       
</section>
<!--       end of project section-->