{% extends "base.html" %}
{% block content %} 
<!--       Testimonials section-->

<section id="Testimonial" >
    <div class="container">
               <h2>Motivations</h2>
             
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/static/IMG/photo-1444464666168-49d633b86797.avif"> <!-- random image -->
        <div class="caption center-align">
          <h3>Here!</h3>
          <h5 class="light grey-text text-lighten-3">“Success is peace of mind, which is a direct result of self-satisfaction in knowing you made the effort to become the best of which you are capable.” —John Wooden.</h5>
        </div>
      </li>
      <li>
        <img src="/static/IMG/photo-1470770903676-69b98201ea1c.avif"> <!-- random image -->
        <div class="caption left-align">
          <h3>We</h3>
          <h5 class="light grey-text text-lighten-3">“Stay away from those people who try to disparage your ambitions. Small minds will always do that, but great minds will give you a feeling that you can become great too.” — Mark Twain.</h5>
        </div>
      </li>
      <li>
        <img src="/static/IMG/photo-1447752875215-b2761acb3c5d.avif"> <!-- random image -->
        <div class="caption right-align">
          <h3>Go</h3>
          <h5 class="light grey-text text-lighten-3">“You learn more from failure than from success. Don’t let it stop you. Failure builds character.” — Unknown .</h5>
        </div>
      </li>
      <li>
        <img src="/static/IMG/photo-1458501534264-7d326fa0ca04.avif"> <!-- random image -->
        <div class="caption center-align">
          <h3>Never Giveup!</h3>
          <h5 class="light grey-text text-lighten-3">“Setting goals is the first step in turning the invisible into the visible.” — Tony Robbins.</h5>
        </div>
      </li>
    </ul>
  </div>
  
              </div>
    </section>
    {% endblock content %}